<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE"/>

    <springProfile name="dev">
        <logger name="org.springboot.sample" level="DEBUG"/>
    </springProfile>

    <springProfile name="default">
        <property name="loggingRoot" value="c:\\temp\\"/>
    </springProfile>
    <springProfile name="dev">
        <property name="loggingRoot" value="c:\\temp\\"/>
    </springProfile>
    <springProfile name="test">
        <property name="loggingRoot" value="/home/git_www/wora_javaweb_master/logs/"/>
    </springProfile>
    <springProfile name="prod">
        <property name="loggingRoot" value="/home/git_www/wora_javaweb_prod/logs/"/>
    </springProfile>



    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggingRoot}gradleDemo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${loggingRoot}wora_task.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>


    <springProfile name="staging">
        <logger name="org.springboot.sample" level="INFO"/>
    </springProfile>



    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <root level="info" additivity="false">
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>



</configuration>